<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		 <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">-->
	</head>
	<body>
			<header>
			<div class="container">
				<div class="row">
					<div class="col-xs-6 col-md-8">
						<a href ="/">
						<h1 class="title">Let's talk about</h1></a>
					</div>
					
					<div class="col-xs-6 col-md-4">
						<br>
						<div class= "login-area">
						
							{% if username %}
							<div class="row">
							<div class="col-xs-7 col-md-7">
							{{username}}(<a class="login-link" href = "/logout">Logout</a>)</div>
							<div class="col-xs-5 col-md-5">
							<a href="{{url_for('view_blog', user_id=user_id)}}">			
				    	<button class="btn btn-default">
					  	<span class="glyphicon glyphicon-folder-close" area-hidden="true"></span>
					  Go to your blog
				    </button></a>
					</div>
				  </div>
						{% else %}
						<div class="row">
						<div class="col-xs-6 col-md-7"></div>
					<div class="col-xs-6 col-md-5">
						<a class = "login-link" href="/login">
						<button class="btn btn-default">
						<span class="glyphicon glyphicon-ok" area-hidden='true'></span> Login</button></a></div></div>
						{% endif %}

					<br>
					<div class="row">
					<div class="col-xs-6 col-md-7"></div>
					<div class="col-xs-6 col-md-5">
						<a href="/post">
						<button class= "btn btn-default">
					<span class="glyphicon glyphicon-pencil" area-hidden='true'></span> Write a new post</button></a></div>
				</div>
			</div>
		</div>
	</div>
	</header>
	
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>