{% extends "base.html" %}
{% block content %}
 	
		<h1> Edit Post</h1>
		<div class ='row divider green'>
		<form method='post'>

		<dl>
			<dt> Subject:</dt>
				<dd><input type ='text' size='30' name='subject' value='{{post.subject}}'></dd>
			<dt> Content: </dt>
				<dd><textarea rows='5' cols='50' name='content'>{{post.content}}</textarea></dd>
		</dl>
		<h3> Would you like to publish it?</h3>
        {% if post.publish_consent == 1 %}
    	<dd><input type='radio' name='consent' value='True' checked> Yes
        {% else %}
        <dd><input type='radio' name='consent' value='True'> Yes
        {% endif %}

        {% if post.publish_consent == 0 %}
    	<input type='radio' name='consent' value='False' checked> No </dd>
        {% else %}
        <input type='radio' name='consent' value='False'> No </dd>
        {% endif %}
        
    <h3> If yes, please also choose the category for this post! <h3>
    	<h4>
    	{% if post.category == 'review' %}
    	<dd><input type='radio' name='category' value='review' checked> Book/Movie/TV Show reviews </dd>
    	{% else %}
    	<dd><input type='radio' name='category' value='review'> Book/Movie/TV Show reviews </dd>
    	{% endif %}

    	{% if post.category == 'food' %}
    	<dd><input type='radio' name='category' value='food' checked> Food/Restaurant </dd>
    	{% else %}
    	<dd><input type='radio' name='category' value='food'> Food/Restaurant </dd>
    	{% endif %}

    	{% if post.category == 'politics' %}
    	<dd><input type='radio' name='category' value='politics' checked> Politics </dd>
    	{% else %}
    	<dd><input type='radio' name='category' value='politics'> Politics </dd>
    	{% endif %}

    	{% if post.category == 'travel' %}
    	<dd><input type='radio' name='category' value='travel' checked> Travel </dd>
    	{% else %}
    	<dd><input type='radio' name='category' value='travel'> Travel </dd>
    	{% endif %}

    	{% if post.category == 'animal' %}
    	<dd><input type='radio' name='category' value='animal' checked> Cute Animals </dd>
    	{% else %}
    	<dd><input type='radio' name='category' value='animal'> Cute Animals </dd>
    	{% endif %}

    	{% if post.category == 'life' %}
    	<dd><input type='radio' name='category' value='life' checked=""> Daily Life</dd></h4>
    	{% else %}
    	<dd><input type='radio' name='category' value='life'> Daily Life</dd></h4>
    	{% endif %}


		<input type='submit' value = 'Submit'>
        <a href = "{{ url_for('viewPost', post_id=post.id)}}"> Cancel </a>

		</form>
	
{% endblock %}