{% extends "base.html" %}
{% block content %}

 
  	<div class="row top-menu">
  		<div class="col-md-10"></div>
  		<div class="col-md-2 text-right"></div>
  	</div>
  	<div class="row divider blue">
  		<div class="col-md-12"></div>
  	</div>
  	<div class="row banner main">
  		<div class="col-md-1"></div>
  		<div class="col-md-11 padding-none">
  			<h1> Current Most Liked Articles </h1>
  		</div>
  	</div>

		<div class ='flash'>
			{% with messages = get_flashed_messages() %}
				{%if messages %}
					<script>
						var messages ={{ messages | safe}};
						for (var i=0; i < messages.length; i++){
							alert(messages[i]);
						}
					</script>
				{% endif %}
			{% endwith %}
		</div>
		<h2> Recent Posts </h2>
			<div class="row padding-top padding-bottom">
					<div class="col-md-1"></div>
					<div class="col-md-10 padding-none">
						<a href="{{url_for('new_post')}}">
							<button class="btn btn-default" id="new-restaurant">
								<span class="glyphicon glyphicon-cutlery" area-hidden="true"></span> Write a new post
							</button>
						</a>
					</div>
				<div class="col-md-1"></div>
			</div>
		{% for p in recent %}
			
				<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-10 restaurant-list">
							<h3>{{p.subject}}</h3>
							<a href ="{{ url_for('view_post', post_id=p.id)}}">
							<h4>{{p.short_content}}<h4>
						</div>
					<div class="col-md-1"></div>
				</div>
			</a>
		{% endfor %}

  	<h2> Most Liked Posts </h2>
			<div class="row padding-top padding-bottom">
					<div class="col-md-1"></div>
					<div class="col-md-10 padding-none"></div>

				<div class="col-md-1"></div>
			</div>
		{% for t in tops %}
			
				<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-10 restaurant-list">
							<h3>{{t.subject}}<h5>Likes: {{t.likes}}</h5></h3>
							<a href ="{{ url_for('view_post', post_id=t.id)}}">
							<h4>{{t.short_content}}<h4></a>
							
						</div>
					<div class="col-md-1"></div>
				</div>
			
		{% endfor %}
	
	
		
	
{% endblock %}