{% extends "base.html" %}
{% block content %}


<h1> New Post</h1>
{% for message in form.subject.errors %}
	<div>{{message}}</div>
{% endfor %}

{% for message in form.content.errors %}
	<div>{{message}}</div>
{% endfor %}

{% for message in form.publish.errors %}
	<div>{{message}}</div>
{% endfor %}

		<div class ='row divider green'>		
		<form method='post' enctype='multipart/form-data' action="{{ url_for('newPost')}}">
			{{ form.hidden_tag() }}
			<dl>
			<dt>{{ form.subject.label}}:</dt>
			<dd>{{ form.subject}}</dd>
			<dt>{{ form.content.label}}:</dt>
			<dd>{{ form.content}}</dd>
			<dt>{{ form.publish.label}}:</dt>
			<dd>{{ form.publish}}</dd>
			<dt>{{ form.image.label}}</dt>
			<dd>{{ form.image}}</dd>
			<br>
			{{ form.submit }}
		</dl>

</form>
</div>

{% endblock %}