{% extends "base.html" %}
{% block content %}

<div class="row">
<div class="col-md-12">

<div class="blog-second-title">New Post</div>
<div class="blog-meta">
{% for message in form.subject.errors %}
	<div>{{message}}</div>
{% endfor %}

{% for message in form.content.errors %}
	<div>{{message}}</div>
{% endfor %}

{% for message in form.publish.errors %}
	<div>{{message}}</div>
{% endfor %}


		<form method='post' enctype='multipart/form-data' action="{{ action }}">
			{{ form.hidden_tag() }}
			<dl>
			<dt>{{ form.subject.label}}:</dt>
			<dd>{{ form.subject}}</dd>
			<dt>{{ form.content.label}}:</dt>
			<dd>{{ form.content}}</dd>
			<dt>{{ form.publish.label}}:</dt>
			<dd>{{ form.publish}}</dd>
			{% if post %}
			{% if post.attached_img %}
			<h4> You have uploaded the file {{post.attached_img}}. If you wish to delete this file
			and upload a different one, please use the uploader below. </h4>
			{% endif %}
			{% endif %}
			<dt>{{ form.image.label}}</dt>
			<dd>{{ form.image}}</dd>
			<br>
			{{ form.submit }}
		</dl>

</form>
</div>
</div>
</div>



{% endblock %}