{% extends "base.html" %}
{% block content %}

    <h2>Signup</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username (length 3-20, upper/lower case, -, _, numbers)
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
            {{error_username}}
            
          </td>
            
        </tr>

        <tr>
          <td class="label">
            Password (lenght 3-20 any character including whitespace)
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{error_password}}
            
          </td>
            
        </tr>

        <tr>
          <td class="label">
            Verify Password (Please enter the same password as above)
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
            {{error_verify}}
            
          </td>
            
        </tr>

        <tr>
          <td class="label">
            Email (Please enter the valid email address)
          </td>
          <td>
            <input type="text" name="email" value="">
          </td>
          <td class="error">
            {{error_email}}
            
          </td>
            
        </tr>
      </table>

      <input type="submit">
    </form>
 {% endblock %}